<% provide(:title, 'Edit User') %>
<div class="row">
  <div class="card-panel">
    <h1 align="center" id="title_page">Edit Team</h1>
    <div class="col s12 m4 l3"></div>
    <%= form_for(:team,  :html => {:class => "col s6 m4 l6"}) do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :name, id: "team_name" %>
            <%= f.label :name %>
          </div>
        </div>
        <%= f.submit  "Save Changes", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>