<h4>Edit Round</h4>

<% provide(:title, 'Edit Round') %>

<div class="row">
  <div class="card-panel">
    <div class="col s12 m4 l3"></div>
    <%= form_for(:round,  :url => {:action => 'update'},:method => 'patch') do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :name, id: "round_name" %>
            <%= f.label :name %>
          </div>
        </div>
        <%= f.submit  "Update", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>