<h1>Listing Tournament Types</h1>

<table class="bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="2" aria-valuetext="center">Action</th>
  </tr>
  </thead>

  <% @tournament_types.each do |tournament_type| %>
      <tr>
        <td><%= link_to tournament_type.name, :action => 'show', :id => tournament_type.id %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => tournament_type.id %></td>
        <td>
          <%= link_to 'Destroy', admin_tournament_type_path(tournament_type), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Type', {action: 'new'}, {class: "waves-effect waves-light btn"}  %>