<h1>Listing TournamentType</h1>

<table class="bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="2" aria-valuetext="center">Action</th>
  </tr>
  </thead>

  <% @tournamenttype.each do |tournamenttype| %>
      <tr>
        <td><%= link_to tournamenttype.name, :action => 'show', :id => tournamenttype.id %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => tournamenttype.id %></td>
        <td><%= link_to 'Destroy', {:action => 'destroy', :id => tournamenttype.id}, :confirm => 'Are you sure?', :method => :post %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Type', :action => 'new', class: 'waves-effect waves-light btn' %>