<h4><%=h @tournament_type.name %></h4>


<p>Created: <i><%= time_ago_in_words(@tournament_type.created_at) %> ago</i></p>

<%= link_to 'Edit', :action => 'edit', :id => @tournament_type.id %> |
<%= link_to 'Back', :action => nil %>