<ul id="slide-out" class="side-nav fixed">
  <li><a href="#!">Dashboard</a></li>
  <li><%= link_to 'Users', '#' %></li>
  <li><%= link_to 'Tournaments', '#' %></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">First</a>
      <a href="#!" class="breadcrumb">Second</a>
      <a href="#!" class="breadcrumb">Third</a>
    </div>
  </div>
</nav>