
<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
    <li class="user-details cyan darken-2">
      <div class="row">
        <div class="col col s4 m4 l4">
          <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
        </div>
        <div class="col col s8 m8 l8">

          <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a><ul id="profile-dropdown" class="dropdown-content" style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: none;">
          <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
          </li>
          <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
          </li>
          <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
          </li>
          <li class="divider"></li>
          <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
          </li>
          <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
          </li>
        </ul>
          <p class="user-roal">Administrator</p>
        </div>
      </div>
    </li>
    <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Layouts</a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="layout-fullscreen.html">Full Screen</a>
              </li>
              <li><a href="layout-horizontal-menu.html">Horizontal Menu</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
    </li>
    <li class="bold"><a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> CSS</a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="css-typography.html">Typography</a>
              </li>
              <li><a href="css-icons.html">Icons</a>
              </li>
              <li><a href="css-animations.html">Animations</a>
              </li>
              <li><a href="css-shadow.html">Shadow</a>
              </li>
              <li><a href="css-media.html">Media</a>
              </li>
              <li><a href="css-sass.html">Sass</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> UI Elements</a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="ui-alerts.html">Alerts</a>
              </li>
              <li><a href="ui-buttons.html">Buttons</a>
              </li>
              <li><a href="ui-badges.html">Badges</a>
              </li>
              <li><a href="ui-breadcrumbs.html">Breadcrumbs</a>
              </li>
              <li><a href="ui-collections.html">Collections</a>
              </li>
              <li><a href="ui-collapsibles.html">Collapsibles</a>
              </li>
              <li><a href="ui-tabs.html">Tabs</a>
              </li>
              <li><a href="ui-navbar.html">Navbar</a>
              </li>
              <li><a href="ui-pagination.html">Pagination</a>
              </li>
              <li><a href="ui-preloader.html">Preloader</a>
              </li>
              <li><a href="ui-toasts.html">Toasts</a>
              </li>
              <li><a href="ui-tooltip.html">Tooltip</a>
              </li>
              <li><a href="ui-waves.html">Waves</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-av-queue"></i> Advanced UI <span class="new badge"></span></a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="advanced-ui-chips.html">Chips</a>
              </li>
              <li><a href="advanced-ui-cards.html">Cards</a>
              </li>
              <li><a href="advanced-ui-modals.html">Modals</a>
              </li>
              <li><a href="advanced-ui-media.html">Media</a>
              </li>
              <li><a href="advanced-ui-range-slider.html">Range Slider</a>
              </li>
              <li><a href="advanced-ui-sweetalert.html">SweetAlert</a>
              </li>
              <li><a href="advanced-ui-nestable.html">Shortable &amp; Nestable</a>
              </li>
              <li><a href="advanced-ui-translation.html">Language Translation</a>
              </li>
              <li><a href="advanced-ui-highlight.html">Highlight</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold"><a href="app-widget.html" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Widgets</a>
        </li>


      </ul>
    </li>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 290px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 64px;"></div></div></ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>
<!-- END LEFT SIDEBAR NAV-->