<% provide(:title, 'Index') %>
<div class="row">
  <div class="card-panel">
    <h1 class="western" lang="zxx" align="center"><span lang="ru-RU">Техническое</span><span lang="ru-RU"> задание</span></h1>
    <h5 class="western" lang="zxx" align="center"><span lang="ru-RU">Тема: &laquo;</span><span lang="en-US">WEB </span><span lang="ru-RU">интерфейс для управления чемпионатами по настольному футболу&raquo;</span></h5>
    <p class="numbering-1-western">1. Регистрация пользователей.</p>
    <p lang="zxx" align="left"><span lang="ru-RU">Нужно реализовать регистрацию пользователей с помощью социальных сетей </span><span lang="en-US">vkontakte </span><span lang="ru-RU">и </span><span lang="en-US">facebook. </span><span lang="ru-RU">Хранимые данные: имя, фамилия, почта, фото.</span></p>
    <p align="left">Также нужно сделать кастомную регистрацию и авторизацию для тех пользоватлей у которых нету аккаунтов в соц сетях.</p>
    <p class="numbering-1-western">2. Личный кабинет.</p>
    <p>Возможность редактировать информацию.</p>
    <p class="numbering-1-western">3. Турнир.</p>
    <p>Нужно сделать страницы для админа: создание турнира, редактирование турнира, просмотр турнира вместе с его матчами. На этой же странице будут редактироваться матчи.</p>
    <p>На странице редактирования турнира сделать функционал для назначения ему команд.</p>
    <p><a name="__DdeLink__163_904003365"></a><a name="__DdeLink__171_1951652350"></a> Турниры могут быть 3 видов &mdash; законченный, текущий, не начат.</p>
    <p>Турнир будет состоять с раундов. Есть 2 типа раундов: регулярный чемпионат &mdash; где каждая команда должна сыграть с каждой командой турнира и <a href="http://ru.wikipedia.org/wiki/Play-off">play-off</a><span lang="en-US">(</span>этапы с 1/8 до финала и матча за третье место<span lang="en-US">). </span>Эти раунды будут иметь порядок. Например, сначала разыгрывается регулярный чемпионат а потом плей-офф. В одном турнире раундов может быть сколько угодно и их порядок может быть любым(но настраиваемым админом). Соответственно и отображение этих раундов будет разным. В первом случае турнирная таблица, во втором сетка, как в описании на википедии.</p>
    <p>После создания турнира нужно выбрать участников которые будут принимать в нем участие. С этих участников будут генерироваться команды(по 2 человека в команде).</p>
    <p>Для каждого раунда нужно будет назначать список участвующих команд. После этого нужно будет генерировать матчи.</p>
    <p><br /> </p>
    <p><a name="__DdeLink__165_904003365"></a><a name="__DdeLink__162_324469468"></a><a name="__DdeLink__166_324469468"></a> 4. Генерация команд.</p>
    <p>После того как для турнира назначены все участники мы должны их разбить по командам. Каждый участник будет иметь ранг. Чем лучше человек играет, тем выше его ранг. Нужно придумать такой алгоритм, чтобы генерировать максимально сбалансированные команды на основе ранга участника.</p>
    <p>Предположим участвует 16 человек. Разделяем их на 2 группы по 8 человек &mdash; те кто имеет высокий ранг и те кто имеет низкий ранг. Для каждого человека с первой группы система должна найти человека со второй группы. При этом для самого сильного игрока нужно постараться найти самого слабого. Но! Должна присутствовать и доля рандома. Не должно быть так, чтобы всегда для 1-го по рангу игрока находило 16-го, для 2-го &mdash; 15 , 3 -14 и тд. Нужно добавить либо погрешность либо окрестность из которой будет выбираться напарник.</p>
    <p>Название команды должно генерироваться с имени и фамилии ее участников. Шаблон &mdash; Иван А. + Сергей Б.</p>
    <p>Также должна быть реализована ручная настройка команд.</p>
    <p><a name="__DdeLink__170_904003365"></a>5. Генерация матчей.</p>
    <p><a name="__DdeLink__167_904003365"></a>Для раунда типа &laquo;регулярный чемпионат&raquo; нужно указать сколько матчей должна сыграть каждая команда с другой командой матчи и нажать кнопку &laquo;генерировать&raquo;. Создастся столько матчей чтобы все сыграли со всеми столько матчей, сколько было указано.</p>
    <p>Для раунда типа &laquo;Плей-офф&raquo; нужно сделать возможность добавлять матчи с указанием какой это тур(1/8,1/4,1/2, финал, матч за 3-е место).</p>
    <p><a name="__DdeLink__164_324469468"></a>6. Результаты и турнирная таблица.</p>
    <p>На стороне администратора должна быть страница для просмотра раундов чемпионата. Там должен быть список матчей и возможность заполнения результатов. Должна быть фильтрация списков матчей по команде, по участнику.</p>
    <p>Для раунда типа &laquo;регулярный чемпионат&raquo; турнирная таблица должна доставаться подсчитанной уже с базы. Она не должна там хранится. Там хранятся только матчи. На основе этих матчей и должна строится таблица. За победу команде засчитывается 3 очка, поражение &mdash; 0. Вид турнирной таблицы:</p>
    <p><a name="__DdeLink__159_1577222974"></a>место <span lang="en-US">| </span>название команды <span lang="en-US">| </span>коли-во сыгранных игр <span lang="en-US">| </span>кол-во побед <span lang="en-US">| </span>кол-во поражений <span lang="en-US">| </span>забитые &mdash; пропущенные голы <span lang="en-US">| </span>разница голов <span lang="en-US">| </span>очки</p>
    <p><br /> </p>
    <p>Публичная страница чемпионата должна выглядеть также, за исключением того, что нельзя будет заполнять матчи.</p>
    <p>7. Возможности пользователя</p>
    <p>Просмотр турниров, команд(с фильтрами для поиска &mdash; текущие/прошлые, по участнику), участников. Отображение списка команд в которых пользователь был раньше. Просмотр турниров в которых пользователь принимал участие. Ссылка на текущий турнир и ссылка на команду в которой в данный момент состоит пользователь. При просмотре своей текущей команды пользователь может сменить ее название.</p>
    <p><br /> </p>
    <p>8. Ранг игрока.</p>
    <p>Ранг игрока не отображается никому и нигде. Даже админу. После завершения каждого турнира, все пользователи которые принимали в нем участие должны с помощью плагина <span lang="en-US">jQuery UI sortable</span>(либо любого альтернативного) расставить других участников по уровню их игры. На этом и будет строиться ранг. Это должно быть что-то типа среднего арифметического выставленных балов пользователю.</p>
    <p>Напоминание о голосовании с ссылкой на него должно быть в профиле пользователя</p>
    <p>Когда админ закрывает голосование все ранги пользователей пересчитываются.</p>
    <p>Для каждого нового чемпионата ранг должен считаться на основе голосований только последнего чемпионата в котором участвовал пользователь. Если пользователь новый и у него нету ранга &mdash; присвоить ему ранг ниже среднего(примерно 70% пользователей по рангу должны быть выше него)</p>
  </div>
</div>
