<div class="row">
  <div class="card-panel">
  <span class="card-title">Rank User</span>
  <ul id="sortable" class="collection">

    <% @users.each do |user| %>
        <li class="ui-state-default collection-item"><%= user.rank %><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= full_name user %></li>
    <% end %>
  </ul>
  </div>
</div>