<!--место | название команды | коли-во сыгранных игр | кол-во побед | кол-во поражений | забитые — пропущенные голы | разница голов | очки-->

<h1>Standings</h1>

<table class="bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Name team</th>
    <th>Number of games played</th>
    <th>Number of wins</th>
    <th>Number of lesions</th>
    <th>Scoring - goals conceded</th>
    <th>Goal difference</th>
    <th>Points</th>
    <th colspan="2" aria-valuetext="center">Action</th>
  </tr>
  </thead>

  <% @standings.each do |team| %>
      <tr>
        <td></td>
        <td><%= team.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => team.id %></td>
        <td><%= link_to 'Destroy', {:action => 'destroy', :id => team.id}, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
      <tr>

      </tr>

</table>
<br />

