<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Log In' '#' %></li>
  <li><%= link_to 'Facebook', '/auth/facebook' %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
